<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Estudio 1</h1> - <h3>años</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut earum voluptatibus nam ratione dolorem
                aspernatur et quidem rem cum non est doloremque facere dolores soluta provident, voluptates sapiente,
                optio natus?
            </p>
        </ul>
        <ul>
            <li>
                <h1>Estudio 2</h1> - <h3>años</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut earum voluptatibus nam ratione dolorem
                aspernatur et quidem rem cum non est doloremque facere dolores soluta provident, voluptates sapiente,
                optio natus?
            </p>
        </ul>
        <ul>
            <li>
                <h1>Estudio 3</h1> - <h3>años</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut earum voluptatibus nam ratione dolorem
                aspernatur et quidem rem cum non est doloremque facere dolores soluta provident, voluptates sapiente,
                optio natus?
            </p>
        </ul>
</div>
</div>
