row {
    padding: 30px;
}

div {
    background-color: aliceblue;
    text-align: center;
}

/*Estilo foto perfil*/
@media (min-width:576px) {
    #fotodeperfil {
        position:absolute;
        width: 15%;
        border-radius: 50%;
        box-shadow: 3px 3px 3px black;
        left: 3%;
        top: 25px;
    }
}

@media (max-width: 575px) {
    #fotodeperfil {
        position: absolute;
        width: 30%;
        border-radius: 50%;
        box-shadow: 3px 3px 3px black;
        left: 5%;
        top: 30px;
    }
}

/*etiqueta nombre*/
#nombre {
    font-weight: bold;
    margin-top: 30%;
}
