<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="70"
    [radius]="100"
    [title]="'HTML'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]: "#C7E596"
    [animation]="true"
    [animationDuration]="300"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
<circle-progress
    [percent]="60"
    [radius]="100"
    [title]="'GitHub'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
<circle-progress
    [percent]="50"
    [radius]="100"
    [title]="'CSS'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
<circle-progress
    [percent]="45"
    [radius]="100"
    [title]="'Java'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
<circle-progress
    [percent]="85"
    [radius]="100"
    [title]="'Ingles'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
<circle-progress
    [percent]="60"
    [radius]="100"
    [title]="'Grupal'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
></circle-progress>
</div>
</div>